body{
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
   

}
    /* Header */
li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #E5E7EB;
}

.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 5em;
    flex: 0;
}
.head-logo{
    margin-left: 6.5em;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    padding: 0px;
}

.right-links{
    margin-right: 10em;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    font-size: 18px;
    padding: 0px;
}

    /* All sections */

    .section{
        box-sizing: border-box;
        display: flex;
        padding-bottom: 8em;
        margin-left: 10em;
        margin-right: 10em;
    }

    /* Section 1 */


.color1{
    background-color: #1F2937;
    display: flex;
    flex: 0;
}

.L1{
    width: 70%;
}
h2.L1{
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;

}

p.L1{
    color: #E5E7EB;
    font-size: 18px;
}

button.L1{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 5px 15px;
    border-color: #3882F6;
    border-style: solid;
    color: #F9FAF8;
    font-weight: 600;
    font-size: 19px;
    max-width: 5.5em;
}

.R1{
    background-color: #8e8f91;
    color: #E5E7EB;
    padding: 4px 20px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section 2 */

.color2{
    background-color: #F9FAF8;
}

.two{
    display: flex;
    flex-direction: column;
}
.subhead2{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.image{
    box-sizing: border-box;
    border: 4px;
    border-style: solid;
    border-color: #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    
}

.text{
    width: 150px;
    color: #4b4c4d;
}

.align2{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

    /* Section 3 */

.color3{
    background-color: #E5E7EB;
}

.three{
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-left: 18em;
    max-width: 70%;
    gap: 15px;
}

.quote{
    color: #1F2937;
    font-style: italic;
    font-size: 36px;
    font-weight: 100;
}

.author{
    color: #1F2937;
    font-size: 18px;
    font-weight: 900;
    display: flex;
    justify-content: end;
}

.four{
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    padding: 2% 10%;
    border-radius: 10px;
    gap: 2em;
}

button.R4{
    border-style: solid;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 5px 19px;
    border-color: #F9FAF8;
    color: #F9FAF8;
    font-weight: 600;
    font-size: 19px;
    max-width: 7em;
    max-height: 2em;
    display: flex;
    align-self: center;
}

p.L4{
    font-size: 17px;
    color: #E5E7EB;
}
h1.L4{
    margin: 0px;
}
.color4{
    padding: 4em 6em;
}
.L4{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: last baseline;
}